
services:
  todolist-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: todolist-springboot
    ports:
      - "8080:8080"
    restart: unless-stopped
    networks:
      - todolist-network

networks:
  todolist-network:
